= form_for @order do |f|
  - if @order.errors.any?
    #error_explanation
      %h2
        =raw t('errors.template.header', count: @order.errors.count,
        model: t('activerecord.models.order'))
      %ul
        - @order.errors.full_messages.each do |msg|
          %li
            = raw msg

  .field
    = f.label t('.name')
    = f.text_field :name, size: 40
  .field
    = f.label t('.adress')
    = f.text_area :adress, rows: 3, cols: 40
  .field
    = f.label t('.email')
    = f.email_field :email, size: 40
  .field
    = f.label t('.pay_type')
    = f.select :pay_type, payment_type_options, promt: t('.pay_prompt_html')
  .actions
    = f.submit t('.submit')
