!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DepotApp
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{class: controller.controller_name}
    %div#banner
      = image_tag 'logo.svg', alt: 'The pragmatic Bookshelf'
      %span.title
        = @page_title
    %div#columns
      %div#side

        - if @cart
          = hidden_div_if(@cart.line_items.empty?, id: 'cart') do
            = render @cart

        %ul
          %li
            = link_to "Home", store_index_path
          %li
            %a{href: ""} Questions
          %li
            %a{href: ""} News
          %li
            %a{href: ""} Contact
          %li
            = load_time
          %li
          = link_to "LOGIN", login_path

      - if session[:user_id]
        %ul
          %li
            = link_to 'Orders', orders_path
          %li
            = link_to 'Products', products_path
          %li
            = link_to 'Users', users_path
        = button_to "Logout", logout_path, method: :delete
      %div#main
        = yield
