!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DepotApp
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{class: controller.controller_name}
    %div#banner
      = image_tag 'logo.svg', alt: 'The pragmatic Bookshelf'
      %span.title
        = @page_title
    %div#columns
      %div#side
        %ul
          %li
            %a{href: ""} Home
          %li
            %a{href: ""} Questions
          %li
            %a{href: ""} News
          %li
            %a{href: ""} Contact
          %li
            = load_time
      %div#main
        = yield
